<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap" rel="stylesheet">
    <title>SHARK TRAVEL : Agencia turistica</title>
</head>
<body>
<header>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fa-solid fa-bars"></i>
        </label>
        <a href="../index.html" class="enlace">
            <img src="../img/LogoSharkTravel.png" alt="" class="logo">
        </a>
        <ul>
            <li id="marginInicio">
                <a href="../view/nosotros.html" class="active" >
                    NOSOTROS
                </a>
            </li>
            <li>
                <a href="../view/servicios.html">
                    SERVICIOS
                </a>
            </li>
            <li>
                <a href="../view/destinos.html">
                    DESTINOS
                </a>
            </li>
        </ul>
    </nav>
</header>

<!----      INICIO : WHATSAPP       ---->
<div class="contacto_W">        
    <input type="checkbox" id="contacto_Check">
    <label for="contacto_Check" class="contacto_btn">
      <i class="fab fa-whatsapp"></i>
    </label>
    <ul class="listaWatsap">
        <li><img src="../img/user.png" alt=""></li>
        <li>Contacta con nosotros <br> tocando uno de los <br> siguientes números:</li>
        <li><a class="numero-W" target="_blank" href="https://wa.me/51998680452""><img src="../img/logoWhatsapp.png" alt=""> 998 680 452</a></li>
    </ul>
</div>
<!----      FIN : WHATSAPP       ---->

<main>
    <!----      ENCABEZADO      ---->
    <section class="fondoDestino">
        <div class="flexContainerdestino">
            <div class="tituloContainer">
                <h1 class="tituloDestinos">
                    NOSOTROS
                </h1>
            </div>     
        </div>
    </section>

    <!----      NOSOTROS        ---->
    <section class="nosotros">
        <div class="quienesSomos">
            <div class="quienesSomosTexto">
                <h2>¿Quienes Somos?</h2>
                <p>SHARK TRAVEL es una agencia de viajes especializado en rutas y destinos singulares e inolvidables. 
                    <br>
                    <br>
                    Con guías profesionales y descripciones rigurosas, SHARK TRAVEL ofrece una opción de turismo cultural, ecológico, histórico y artístico, tan interesante como atractivo y, sobre todo, distinto.
                    <br>
                    <br>
                    Son viajes en los que el participante descubrirá aspectos inéditos del lugar, espacio o acontecimiento que se visite, que quedaran como un recuerdo especial de los conocimientos y experiencias que habrá vivido.
                </p>
            </div>            
        </div>

        <div class="objetivosTarjetas">
            <div class="objetivos">
                <h2>Objetivo General</h2>
                <p>Crecer económicamente como empresa turística a través de las ventas de servicios o productos de los más altos estándares de calidad y manteniendo la confiabilidad y fidelidad de nuestros clientes.</p>
            </div>

            <div class="objetivos">
                <h2>Objetivos Específicos</h2>
                <p>Mantener constante capacitación del talento humano de la empresa para lograr prestar una atención personalizada a nuestros clientes, logrando aumentar de manera efectiva las ventas de cada uno de los servicios prestados.</p>
            </div>  
        </div>

        <div class="quienesSomos">
            <div class="quienesSomosTexto">
                <h2>Misión</h2>
                <p>Ofrecer un servicio personalizado de calidad y confiabilidad, a través de la buena atención de nuestro personal debidamente  capacitado, diseñando viajes únicos, a precios accesibles, logrando superar las expectativas de nuestros clientes. 
                    <br>
                    <br>
                    La empresa SHARK TRAVEL, brinda asistencia profesional a todos aquellos que necesitan un servicio de viaje, con respuestas rápidas, precisas y eficiente, buscando satisfacer a nuestros clientes con nuestro servicio, asesoramiento, compromiso, precio, solución de posibles inconvenientes (antes, durante o después de cada viaje). Se brinda un servicio a medida, tanto para empresas, instituciones públicas, personas individuales, ya sea por negocio, trabajo o viajes de placer. 
                </p>
            </div>
        </div>

        <div class="quienesSomos">
            <div class="quienesSomosTexto">
                <h2>Visión</h2>
                <p>Llegar ser una Agencia de Viajes reconocida en nuestra región, en el Perú y el mundo por la confianza y seguridad que le ofrecemos a nuestros clientes, presentando innovadores servicios y asegurando una actividad turística estable, promoviendo un ambiente de buenas relaciones y obteniendo la mayor satisfacción de nuestros clientes y el desarrollo sostenible de las comunidades que trabajamos. 
                    <br>
                    <br>
                    Promover el crecimiento sostenible de la organización, basado en la innovación permanente tanto en la prestación de servicios, el acercamiento a los clientes, la calidad de información brindada, el asesoramiento adecuado para cada necesidad.
                </p>
            </div>
        </div>

        <div class="objetivosTarjetas">
            <div class="objetivos">
                <div class="valoresImg">
                    <img src="../img/valores.jpg" alt="">
                </div>
            </div>

            <div class="objetivos">
                <h2>Valores</h2>
                <ul>                
                    <li>Amabilidad</li>
                    <li>Calidad y excelencia en el servicio</li>
                    <li>Solidaridad</li>
                    <li>Responsabilidad</li>
                    <li>Puntualidad</li>
                    <li>Confiabilidad</li>
                    <li>Diversión y trabajo en equipo</li>
                    <li>Honestidad</li>
                    <li>Innovación e inspiración</li>
                    <li>Integridad y respeto</li>
                    <li>Pasión y compromiso</li>
                </ul>
            </div>            
        </div>
    </section>
</main>

<!----      FOOTER      ---->
<footer>    
    <div class="derechosReservados">  
        <hr class="lineaDerechosreservados">      
        <h4>            
            © 2023 VALMAT Business Solution - All rights reserved.
        </h4>
    </div>
</footer>

</body>
</html>